<div class="authform">
  <h3>edit your account</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email, "email" %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset style="background: #424242; border-color: black;">
      <p>Leave these fields blank if you don't want to change your password.</p>
      <div class="form-group">
        <%= f.label :password, "password" %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "password confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset style="background: #424242; border-color: black;">
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
        <%= f.label :current_password, "current password" %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit 'update', :class => 'btn btn-primary ok-btn modal-btn right-btn' %>
  <% end %>
</div>
<div class="authform">
<h3>cancel account</h3>
<p>Unhappy? We'll be sad to see you go.</p>
<%= button_to "cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-primary ok-btn modal-btn right-btn' %>
</div>
