= form_for @user_challenge do |f|
  - if @user_challenge.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_challenge.errors.count, "error")} prohibited this user_challenge from being saved:"
      %ul
        - @user_challenge.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :challenge_id
    = f.number_field :challenge_id
  .field
    = f.label :end_date
    = f.datetime_select :end_date
  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :progress
    = f.number_field :progress
  .field
    = f.label :type
    = f.text_field :type
  .actions
    = f.submit 'Save'
