%h1 Listing user_challenges

%table
  %tr
    %th Challenge
    %th End date
    %th User
    %th Progress
    %th Type
    %th
    %th
    %th

  - @user_challenges.each do |user_challenge|
    %tr
      %td= user_challenge.challenge_id
      %td= user_challenge.end_date
      %td= user_challenge.user_id
      %td= user_challenge.progress
      %td= user_challenge.type
      %td= link_to 'Show', user_challenge
      %td= link_to 'Edit', edit_user_challenge_path(user_challenge)
      %td= link_to 'Destroy', user_challenge, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User challenge', new_user_challenge_path
