%p#notice= notice

%p
  %b Challenge:
  = @user_challenge.challenge_id
%p
  %b End date:
  = @user_challenge.end_date
%p
  %b User:
  = @user_challenge.user_id
%p
  %b Progress:
  = @user_challenge.progress
%p
  %b Type:
  = @user_challenge.type

= link_to 'Edit', edit_user_challenge_path(@user_challenge)
\|
= link_to 'Back', user_challenges_path
