= form_for @statistic do |f|
  - if @statistic.errors.any?
    #error_explanation
      %h2= "#{pluralize(@statistic.errors.count, "error")} prohibited this statistic from being saved:"
      %ul
        - @statistic.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :level
    = f.number_field :level
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :points_until_level_up
    = f.number_field :points_until_level_up
  .actions
    = f.submit 'Save'
