%h1 Listing statistics

%table
  %tr
    %th User
    %th Level
    %th Name
    %th Points until level up
    %th
    %th
    %th

  - @statistics.each do |statistic|
    %tr
      %td= statistic.user_id
      %td= statistic.level
      %td= statistic.name
      %td= statistic.points_until_level_up
      %td= link_to 'Show', statistic
      %td= link_to 'Edit', edit_statistic_path(statistic)
      %td= link_to 'Destroy', statistic, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Statistic', new_statistic_path
