%p#notice= notice

%p
  %b User:
  = @statistic.user_id
%p
  %b Level:
  = @statistic.level
%p
  %b Name:
  = @statistic.name
%p
  %b Points until level up:
  = @statistic.points_until_level_up

= link_to 'Edit', edit_statistic_path(@statistic)
\|
= link_to 'Back', statistics_path
