-if @current_challenge.present? and !@current_challenge.finished
  .centeredborder
    .centeredinset
      .jm-module
        .jm-module-in
          .jm-module-content.clearfix
            .custom{style: "margin-top: 20px;"}
              %h3#sm-text
                current challenge
                %span.jm-text-color#lg-text #{@current_challenge.challenge.name}
              %h4
                %span{style: "color: #fff"} #{@current_challenge.challenge.description}
                
      
        .jm-module{style: "padding-top: 20px"}
          .jm-module-in
            .jm-module-content.clearfix
              .custom              
                .progress{style: "height: 30px; color: #7ab317"}
                  #curr-challenge-bar.progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", role: "progressbar"}
              %h3{style: "color: #fff; font-weight: normal; font-size: 16px; line-height: 30px;"}               
                #checkins
                #weeks
              .button.btn-toolbar
                #checkin-btn.btn.btn-lg.btn-checkin{type: "button"} Check-in
                #fail-btn.btn.btn-lg.btn-fail{"data-target" => "#fail-modal", "data-toggle" => "modal", type: "button"} Abandon
                -unless current_user.auth_token.blank?
                  .btn.btn-sm#facebook-btn{style: "float: none;", type: "button"}
                    = link_to image_tag("facebook_share_simple.png", width: "100%", height: "100%"), wall_post_path(@current_challenge.id)
                #fail-modal.modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "failureModalLabel", role: "dialog", tabindex: "-1"}
                  .modal-dialog.modal-sm
                    .modal-content
                      .modal-header
                        %h4.modal-title really give up?
                      .modal-body
                        Are you sure you want to abandon the challenge?
                      .modal-footer
                        = link_to "Abandon", abandon_challenge_path(current_user.id), class: 'btn btn-primary modal-btn'
                        .btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
              %h3{style: "font-size: 14px; line-height: 20px; color: #242424;"}
                #checkin-modal.modal.fade.bs-example-modal-med{"aria-hidden" => "true", "aria-labelledby" => "checkinModalLabel", role: "dialog", tabindex: "-1"}
                  .modal-dialog.modal-med
                    .modal-content
                      .modal-header
                        %h4.modal-title congratulations!
                      .modal-body
                        You completed the "#{@current_challenge.challenge.name}" challenge!
                      .modal-footer
                        = link_to "OK", current_user, class: "btn btn-default"
                        = link_to "Take another Challenge", challenges_path, class: "btn btn-primary modal-btn"
                        -unless current_user.auth_token.blank?
                          = link_to "Share to facebook", wall_post_path(@current_challenge.id), class: 'btn facebook-share'
                #confirm-modal.modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "confirmModal", role: "dialog", tabindex: "-1"}
                  .modal-dialog.modal-sm
                    .modal-content
                      .modal-header
                        %h4.modal-title confirm check-in
                      .modal-body
                        #confirm-message
                        %br
                        Once you check-in, this action cannot be undone!
                      .modal-footer
                        .btn.btn-primary.ok-btn.modal-btn{"data-dismiss" => "modal", type: "button"} OK
                        .btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
                #missed-checkin-modal.modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "missedCheckinModal", role: "dialog", tabindex: "-1"}
                  .modal-dialog.modal-sm
                    .modal-content
                      .modal-header
                        %h4.modal-title you missed some check-ins!
                      .modal-body
                        You missed one or more check-ins this week for "#{@current_challenge.challenge.name}".
                        Starting now, you will need to redo this week in order to stay on track. 
                      .modal-footer
                        = link_to "OK", current_user, class: "btn btn-primary modal-btn"
                #completed-week-modal.modal.fade.bs-example-modal-sm{"aria-hidden" => "true", "aria-labelledby" => "completedWeekModal", role: "dialog", tabindex: "-1"}
                  .modal-dialog.modal-sm
                    .modal-content
                      .modal-header
                        %h4.modal-title another week done!
                      .modal-body
                        #week-message
                        %br
                        #start-date
                        Keep up the good work! 
                      .modal-footer
                        .btn.btn-primary.ok-btn.modal-btn{"data-dismiss" => "modal", type: "button"} OK               
                
                            

  -#Javascript is inside the if statement because it is only supposed to run if there is
  -#a current challenge present              
  :javascript
    $(document).ready(function(){
      $('#confirm-modal').modal({show: false});
      var weekModalShown = false;
      var lastWeek = 0;
      
      //Gets the current progress from the instance variable in the users_controller.rb file.
      //This progress will be updated from the database when the page is loaded so it
      //will be current.
      var progress = #{@current_progress};
      progress = progress.toFixed(1);
      
      //Grab the values of the instance variables declared in
      //user controller so that the progress can be calculated.
      //These values will not change for a given challenge.
      var weeks = #{@weeks};
      var perWeek = #{@per_week};
      
      //Show the user how many checkins they have done so far.
      showCheckinAndWeeksCount(weeks, perWeek);
      
      var $bar = $('#curr-challenge-bar.progress-bar');
      $bar.css('background-image', 'none');
      $bar.css('background-color', '#7ab317');
      $bar.css('font-size', '15px');
      $bar.css('line-height', '30px');
      $bar.css('color', '#242424');
      $bar.css('font-weight', 'bold');
      
      var $checkin = $('#checkin-btn');
     
      if(progress > 0){
        $bar.css('width', progress+'%');
        $bar.html(progress+'%');
      }
     
      //Only display a percentage if it is greater than 0 and if the progress
      //is equal to 100, then we do not let the user click checkin or Fail anymore.
      if(progress >= 99.9){
        //Disable the buttons
        $checkin.attr("disabled", "disabled");
        
      }    
      else if(progress > 0 && progress < 99.9){
        //Enable the buttons
        $checkin.removeAttr("disabled");
      }
      
      //Uncomment this to use the check time function.
      checkTime(progress);
      
      if (typeof self.timers != "undefined") {
        clearTimeout(self.timers.inactive);
      } else {
        self.timers = {};
      }

      //Click event handler for the checkin Button
      $('#checkin-btn').on('click', function(){
        //Get the checkin count
        var $checkinCount
        $.ajax({
          url: "/get_checkin_count",
          async: false,
          success: function(data){
            $checkinCount = parseInt(data);
          }
        });
        //Set the modal message and then show the confirm modal.       
        $('#confirm-message').html("Are you sure you want to do check-in " + ($checkinCount+1) + " for \"#{@current_challenge.challenge.name}\"?");
        $('#confirm-modal').modal('show'); 
      });
    
      //Click event handler for the confirmation modal OK button.
      $('#confirm-modal .btn.btn-primary.ok-btn').on('click', function(e){
          $('#confirm-modal').modal('hide');
          
          //calls the code to update the progress bar.
          updateProgressBar();
      });
      
      //Main code that perform the update of the progress bar based on 
      //values from Ajax calls to the users controller to get up-to-date
      //information from the models.
      function updateProgressBar(){
        var $bar = $('#curr-challenge-bar.progress-bar');
        
        //Get the updated value of the progress instance variable 
        //from the users controller via ajax.
        var $oldProgress;
        $.ajax({
          url: "/get_progress",
          async: false,
          success: function(data){
            //The progress value is returned as text so it must be parsed to a Number, which is
            //javascript's equivalent of a BigDecimal in Rails.
            $oldProgress = Number(data);
          }
        });
                 
        //Calculate the new progress based on duration and the old progress.
        var currProgress = Number($oldProgress + (100.0 / (weeks * perWeek)));

        //By setting the minimum width of the progress bar when the
        //value of the bar is less than 4%, the text will always
        //be visible on the background of the bar, even when the
        //percentage is extremely low.
        if(currProgress <= 4){
          $bar.css('min-width', '30px');
        }
        else{
          $bar.css('min-width', '0px');
        }
        
        //Since the ceiling function is being used to round up the progress
        //percentage increment, then the final value will most likely be
        //greater than 100 so we check for this and set the progress to
        //be exactly 100.
        if(currProgress >= 99.9){
          currProgress = 100.0;
        }
           
        //Use ajax to pass the current progress value to the user
        //controller create_history method where it will be used
        //to update the user challenge progress and create a new
        //history entry with this progress value. 
        var $failedCheckin;  
        var historyCreate = $.ajax({
          dataType: 'JSON',
          async: false,
          url: "/create_history/" + currProgress,
          data: {"newProgress":currProgress},
          success: function(data){
            //The progress value is returned as text so it must be parsed to a Number, which is
            //javascript's equivalent of a BigDecimal in Rails.
            $failedCheckin = data;
          }
        });
        
        console.log("Failed checkin? " + $failedCheckin);
        
        //The progress could be changed by the controller (if the user misses
        //one or more checkins, they will have to retake that week so their progress
        //and checkin count will go down accordingly). Thus another ajax call is needed
        //here in order to get the (possibly) updated progress.
        var $checkProgress;
        $.ajax({
          url: "/get_progress",
          async: false,
          success: function(data){
            //The progress value is returned as text so it must be parsed to a Number, which is
            //javascript's equivalent of a BigDecimal in Rails.
            $checkProgress = Number(data);
          }
        });
                        
        var dispProgress = $checkProgress.toFixed(1);
        $bar.css('width',dispProgress+'%');

        if($checkProgress > 0){
          $bar.html(dispProgress+'%');
        }
        else{
          $bar.html('');
        }        
        
        //Uncomment this to use the check time function.
        checkTime($checkProgress);
        
        //Show the user how many checkins they have done so far
        showCheckinAndWeeksCount(weeks, perWeek);
        
        //If the progress is 100%, then a congratulations message is displayed
        //and the checkin and Fail buttons are disabled.
        if($checkProgress == 100){
          //Shows the modal which displays a congratulations message to the user.
          $("#checkin-modal").modal("show");
          
          //Disable the checkin and failure buttons since the challenge is complete.
          $('#checkin-btn').attr("disabled", "disabled");
        }
        
        //If the user has failed their checkin(s), then we display a modal telling
        //them that they will have to redo the week.
        if($failedCheckin){

          //Shows the modal which tells the user that they will have to
          //redo the week since they missed one or more challenges
          $("#missed-checkin-modal").modal("show");
        }
    
      }
    }); //end of document.ready 
    
    //Checks if allotted time window has passed until the next check-in. If it
    //has, then the checkin and fail buttons are enabled. If it has not, then
    //the checkin and fail buttons are disabled.
    function checkTime(progress){
      var $canCheckin;
      
      //Use ajax to get how much time has passed since the users last checkin
      //this current user challenge.
      $.ajax({
        url: "/can_next_checkin_occur",
        async: false,
        success: function(data){
          $canCheckin = data;
        }
      });     
      
      //Ajax returns "true" or "false" from the controller depending on whether
      //the user has completed all their checkins for this week.
      var $completedCheckins;
      $.ajax({
        url: "/has_user_finished_this_week",
        async: false,
        success: function(data){
          $completedCheckins = data;
        }
      }); 

      //Ajax returns "true" or "false" from the controller depending on whether
      //it is currently the first day of the week or not. This will return false
      //once the user has checked in on the first day (in order to prevent more
      //than one checkin).
      var $isFirstDay;
      $.ajax({
        url: "/is_the_first_day_of_the_week",
        async: false,
        success: function(data){
          $isFirstDay = data;
        }
      });

      //For debugging purposes
      console.log("can checkin: " + $canCheckin); 
      console.log("is first day: " + $isFirstDay);
      console.log("checkins complete: " + $completedCheckins);
      
      //If canCheckin is true and user has not yet completed the challenge (progress < 100),
      //then the program will check if the user has completed the required number of checkins
      //for the current week and disable the buttons if this is true since the user should
      //not press Check-in until the next week.
      //Otherwise, if canCheckin is false and progress is less than 100, then the code checks
      //if it is the first day of the current week. If so, the buttons are enabled, otherwise,
      //they are disabled since the user should not be checking in.
      if($canCheckin == "true" && progress < 100){
        if($completedCheckins == "true"){
          //disable the buttons.
          $('#checkin-btn').attr("disabled", "disabled");
        }
        else{
          //Enable the buttons.
          $('#checkin-btn').removeAttr("disabled");
        }
      }
      else if ($canCheckin == "false" && progress < 100) {
        //This is for allowing users to check-in on the first day of the week
        if ($isFirstDay == "true"){
          //enable the buttons.
          $('#checkin-btn').removeAttr("disabled");
        }
        else{
          //disable the buttons.
          $('#checkin-btn').attr("disabled", "disabled");
        }
      }
    }
    
    //Calculates the total number of checkins that the user has to complete as well as
    //how many checkins they have completed so far.
    function showCheckinAndWeeksCount(weeks, perWeek){
      var $checkins
      $.ajax({
        url: "/get_checkin_count",
        async: false,
        success: function(data){
          $checkins = parseInt(data);
        }
      }); 
      
      var duration = weeks * perWeek;
      
      $('#checkins').html('You need to do ' + perWeek + ' check-ins per week. You can check-in once in a 24-hour period.<br>You have completed ' + $checkins + ' out of a total of ' + duration + ' check-ins.');
      
      var week = Math.floor($checkins/perWeek);
      $('#weeks').html('You have completed ' + week + ' out of a total of ' + weeks + ' weeks.');     
            
      //Reset the cookie for a new challenge (when no weeks have yet been completed).      
      if(week == 0){
        $.cookie('lastWeek', week);
      }
      
      //If the cookies lastWeek value and the "week" value do not match, then
      //this means that the user has completed another week so we update the
      //cookie's value for lastWeek and set the show modal boolean to false so
      //that it will be displayed.
      var $startDate;
      if(week != parseInt($.cookie("lastWeek"))){
        $.cookie("weekModalShown", false);
        $.cookie("lastWeek", week);     
      }
      else{
        $.cookie("weekModalShown", true);
      }
      
            //Get the start date for the next week so that it can
      //be displayed in the "finished week" modal.
      $.ajax({
        url: "/get_start_of_next_week",
        async: false,
        success: function(data){
          $startDate = data;
        }
      });
      
      var isModalShown = $.cookie("weekModalShown");
      
      //Show the modal only if we are not at the start of a challenge (checkins != 0),
      //and if we have finished a week, and we are not finishing a challenge (week != weeks)
      if($checkins != 0 && ($checkins % perWeek == 0) && week != weeks){
        $('#weeks').html('You have completed ' + week + ' out of a total of ' + weeks + ' weeks. <br>' + 
          ' You can start checking in for the next week on ' + $startDate);
          
        if(isModalShown == "false"){
          $.cookie("weekModalShown",true);
          $('#start-date').html("You can check-in again on " + $startDate);
          $('#week-message').html("You have successfully finished week " + week + " for \"#{@current_challenge.challenge.name}.\"");
          $('#completed-week-modal').modal('show');
        }
        
      }
     
    }
  
- else
  .centeredborder
    .centeredinset
      .jm-module
        .jm-module-in
          .jm-module-content.clearfix
            .custom{style: "margin-top: 20px; margin-bottom: 20px;"}
              %h3#sm-text
                you are not currently taking a challenge! 
                %span.jm-text-color#lg-text
                  %br click the button below to find one!
              .center=link_to "Pick a challenge!", challenges_path, class: "btn btn-medium btn-center"




