= form_for @user, {class: "modal-form"} do |f|
  #change-avatar-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-border
      .modal-content
        .modal-header
          %h4#myModalLabel.modal-title change your profile picture
        .modal-body 
          .form-group
            .control-group             
              .controls
                = f.file_field :avatar   
                
              %b Note: 
              If either the width or height of your image is greater than 300 pixels, it will be cropped.  
        
        .modal-footer
          .btn-group
            .actions
              .btn
                = f.submit "Update", class: "btn btn-primary ok-btn modal-btn right-btn"
              .btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel

