%h1 Administrator Links and Controls
%dl{class: "dl-horizontal"}
  %h3
    %dt= link_to 'Users', users_path
    %dd
      The users index where an administrator can edit user roles, etc.
    %dt= link_to 'Challenges', admin_challenges_path
    %dd
      This is a list of challenges that were made by us and not users
