%h1 Listing challenges made by us

%table.table.table-striped.table-bordered.table-hover
  %tr
    %th Name
    %th Description
    %th Points
    %th Category
    %th
    %th

  - @challenges.each do |challenge|
    %tr
      %td= link_to challenge.name, challenge
      %td= challenge.description
      %td= challenge.points
      %td= challenge.category
      %td= link_to 'Edit', edit_challenge_path(challenge)
      %td= link_to 'Destroy', challenge, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
