%section#jm-header{style: "height: 200px; margin-bottom: 150px;"}
  .container
    #jm-header-mods
      .row
        .span-challenge
          #jm-header-mod1
            .header-mod1.count_1
              .row
                .header-mod1-in.span0
                  .header-mod1-bg
                    .jm-module
                      .jm-module-in
                        .jm-module-content.clearfix
                          .custom
                            .jm-rotate-wrap-left
                              %h3.jm-rotate1-left finished 
                              %h2.jm-rotate2-left#medium-heading CHALLENGES 
                              %div{style: "clear: both;"}  
                              %p 
                                Below are listed the challenges that you have already completed. To
                                build habits that benefit you as a whole, we recommend that you try
                                challenges from each of the three categories--Physical, Nutritional, 
                                and Intellectual--in order to improve both your mind and your body.
    .custom
      %p{style: "margin-bottom: 200px; display: block; margin-left: auto; margin-right: auto;"}

                              
%section#jm-top
  .container
    .top.count_4
      .row
        .top-in.span12
          .top-bg
            .jm-module
              .jm-module-in
                .jm-module-content.clearfix
                  .custom                                        
                    - ["Physical", "Nutritional", "Intellectual"].each do |challenge_type|
                      .challenge-table
                        %h2=challenge_type.downcase
                        .table-responsive
                          %table.table.table-striped.table-hover
                            %tr
                              %th name
                              %th description
                              %th points
                              - Challenge.completed_challenges(current_user, challenge_type).sort_by(&:name).each do |challenge|
                                %tr
                                  %td
                                    %a#link-color{href: "#","data-target" => "#takec-modal", data: {toggle: "modal", href: challenge_path(id: challenge.id)}, class: "takec"}
                                      = challenge.name.truncate(30)
                                    -if current_user.has_role? :admin or challenge.created_by == current_user.id
                                      = link_to edit_challenge_path(challenge) do
                                        %i.glyphicon.glyphicon-edit#glyph-green
                                      = link_to challenge, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                                        %i.glyphicon.glyphicon-remove#glyph-red
                                    - if user_challenges_list(current_user, challenge).present?    
                                      - user_challenges_list(current_user, challenge).each do |user_challenge|
                                        %i.glyphicon.glyphicon-ok
                                  %td= challenge.description.truncate(60)
                                  %td= challenge.points
#takec-modal.modal.fade{"aria-hidden" => "true", "aria=labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .takec-content
:javascript
  $(document).ready(function(){
    $(".takec").click(function(){
      $(".takec-content").load($(this).data("href")); 
    });  
  });                        
