= form_for @user do |f| 
  .form-group
    .control-group
      = f.label :avatar, class: "control-label", style: "font-size: 20px; font-weight: bold;"
      .controls
        = f.file_field :avatar       
        
      %b Note: 
      If either the width or height of your image is greater than 150 pixels, it will be cropped.  

    %br/
    .form-actions
      = f.submit "Update", class: "btn btn-primary"

