%section#jm-header{style: "height: 100px; margin-bottom: 150px;"}
  .container
    #jm-header-mods
      .row
        .span-challenge
          #jm-header-mod1
            .header-mod1.count_1
              .row
                .header-mod1-in.span0
                  .header-mod1-bg
                    .jm-module
                      .jm-module-in
                        .jm-module-content.clearfix
                          .custom
                            .jm-rotate-wrap-left
                              %h3.jm-rotate1-left my
                              %h2.jm-rotate2-left#medium-heading CHALLENGES 
                              %div{style: "clear: both;"}  
                              %p 
                                All the challenges that you have created are shown below.


.my-challenge-table
  %table.table.table-striped.table-hover
    %tr
      %th name
      %th description
      %th points
      - @challenges.sort_by(&:name).each do |challenge|
        %tr
          %td
            %a#link-color{href: "#","data-target" => "#takec-modal", data: {toggle: "modal", href: challenge_path(id: challenge.id)}, class: "takec"}
              = challenge.name
              = link_to edit_challenge_path(challenge) do
                %i.glyphicon.glyphicon-edit#glyph-green
              = link_to challenge, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                %i.glyphicon.glyphicon-remove#glyph-red
          %td= challenge.description
          %td= challenge.points

#takec-modal.modal.fade{"aria-hidden" => "true", "aria=labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .takec-content
      
      
:javascript
  $(document).ready(function(){
    $(".takec").click(function(){
      $(".takec-content").load($(this).data("href")); 
    }); 
  });

