.heading{style: "text-align:center;margin-top:30px;"}
  %h2.jm-rotate2-left#main-heading{style: "line-height:0.9em;"} PROGRESS
%h3{style: "margin-top:125px;"} This is where you can see charts showing your progress in Demigod!
%br
%br
.chart{style: "float: left;"}= high_chart "percent_total", @percent_total
.chart{style: "float: left;"}= high_chart "percent_physical", @percent_physical
.chart{style: "float: left;"}= high_chart "percent_intellectual", @percent_intellectual
.chart{style: "float: left;"}= high_chart "percent_nutritional", @percent_nutritional
.chart{style: "float: left;"}= high_chart "types_completed", @types_completed
