-#%h3 Profile

%header{style: 'text-align: center'}
  %p{style: "margin-top:3em"}
    %h4 #{@user.name.downcase}
.row     
  .col-md-2
    - left_column_stats(current_user).each do |user_stat|
      .container.stat-display{style: "float: left;"}
        %span.stat-icon
          = image_tag(user_stat.statistic.name.downcase + "_stat.png")
        %div.stat-inset
          %span.middle
            = user_stat.statistic.name.downcase
          %span.badge.pull-right.badge-style
            %span{style: "font-size: 11px;"}
              level
            = user_stat.level.to_s
        %p
          .progress{style: "height: 15px;"}
            -percent = percentage_of_statistic_completed(user_stat)
            -min_width = 30
            -if percent == 0
              - min_width = 0
            -if percent >= 100
              - percent = 100       
            - percent_str = '%.1f' % percent
            .progress-bar.prog-bar-style{style: "min-width: " + min_width.to_s + "px; width:" + percent_str + '%', "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", role: "progressbar"}
              -if percent > 0
                = percent_str + '%'
              -else
                = ''
  .col-md-8
    - if @user.avatar.exists? 
      = image_tag @user.avatar.url(:large), height: "20%", width: "20%"
    - else
      = link_to image_tag("avatar_blank.png", height: "20%", width: "20%"), "#", {"data-toggle" =>  "modal", "data-target" => "#change-avatar-modal"}
    %p{style: 'text-align: center;'}
      = link_to 'change profile picture', "#", {"data-toggle" =>  "modal", "data-target" => "#change-avatar-modal"}        
  .col-md-2
    - right_column_stats(current_user).each do |user_stat|
      .container.stat-display{style: "float: right;"}
        %span.stat-icon
          = image_tag(user_stat.statistic.name.downcase + "_stat.png")
        %div.stat-inset
          %span.middle
            = user_stat.statistic.name.downcase
          %span.badge.pull-right.badge-style
            %span{style: "font-size: 11px;"}
              level
            = user_stat.level.to_s
        %p
          .progress{style: "height: 15px;"}
            -percent = percentage_of_statistic_completed(user_stat)
            -min_width = 30
            -if percent == 0
              - min_width = 0
            -if percent >= 100
              - percent = 100       
            - percent_str = '%.1f' % percent
            .progress-bar.prog-bar-style{style: "min-width: " + min_width.to_s + "px; width:" + percent_str + '%', "aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", role: "progressbar"}
              -if percent.to_f > 0
                = percent_str + '%'
              -else
                = ''
              
%span{style: 'text-align: center;'} 
  %p{style: "margin-bottom:2em;"} 
    = render "current_challenge"
    
= render 'edit_avatar'
    
