%section#jm-header
  .container
    #jm-header-mods
      .row
        .span3
          #jm-header-mod1
            .header-mod1.count_1
              .row
                .header-mod1-in.span0
                  .header-mod1-bg
                    .jm-module
                      .jm-module-in
                        .jm-module-content.clearfix
                          .custom
                            .jm-rotate-wrap-left
                              %h2.jm-rotate2-left{style: "font-size: 50px;"} FAQ
      %div{style: "clear: both;"}
%section{style: "margin-top: 10%;"}
  .container
    %div{style: "clear: both;"}
      %h3
        Our FAQ Section
      %p
        Here you will find frequently asked questions and information about our website. If you would like to send us a question or comment after reading through this section, please contact us through the 
        %a{href: contact_path} Contact 
        button located in the navigation menu.
      %h3
        Why Demigod?
      %p
        %ul
          %li 50% of us are overweight.
          %li Only 4.5% of our food budget is spent on healthy, nutritious foods.
          %li Countries better than us in Math: 28, Science: 21, Reading: 18 
      %p
      Generally, the causes of the problems just listed are behavioral and can be fixed with better habits.
      %p
      %ul
        %li A large portion of health problems (and health costs!) are caused in whole or part by poor behavior. 
        %li Our users (and customers) want to make the change to a better lifestyle but need some help.
      %h3
        What are the benefits of Demigod? How can Demigod help improve my health?
      %p
        To help with implementing your lifestyle changes, Demigod offers:
        %ul
          %li 
            A variety of
            %a{href: "/category/nutritional"}Nutritional,
            %a{href: "/category/physical"}Physical,
            and
            %a{href: "/category/intellectual"}Intellectual
            challenges
          %li Challenge levels
      %p     
        Demigod keeps track of your current challenge and previously completed challenges. Demigod encourages you to participate in challenges that help you improve your lifestyle, gives you support for your lifestyle changes (through Facebook sharing), and helps you maintain your habits by offering new and more advanced challenges to keep you healthy.
      %p
        We give a very well defined goal structure, telling you what the goal is, how many times a week to check in (fix tasks), and a set amount of time to obtain the points.
      %h3
        How often should I play Demigod?
      %p 
        Demigod is designed to fit your schedule. You can start a challenge whenever you want. Once you are taking a challenge, you will need to check-in a certain number of times per week for the duration of the challenge. Checking in regularly helps build a habit that is maintainable even after the challenge is completed.
      %h3 
        How much does Demigod cost?
      %p
        Demigod is currently free to use.
      %h3  
        How does the scoring work?
      %p  
        Each challenge has a list of statistics that it can affect. If you click on a challenge, you can see the statistics affected. Each challenge also has a number of points assigned to it. For the sake of this example, let’s say that you have clicked on a challenge that is worth 20 points. This means that when you complete it, all of the statistics affected by the challenge will gain 20 points towards the next level.
      %h3 
        How do the levels work?
      %p  
        When you start in demigod, you start at level 1 and you need 40 points to get to level 2. If you took two 20 point challenges that affected strength, you would level up your strength statistic. Under each statistic, there is a progress bar showing how many points remain for a level up. Each level is progressively harder than the last one, requiring more points to get to the next level.
      %h3  
        How can I create new customized challenges?
      %p 
        While logged in, select the “Challenges” link in the navigation menu. This will take you to the Challenges page, which contains a “new challenge” button. Clicking this button will open up a form dialog where you can fill out information about the challenge you want to take, such as name, description, category, statistics affected, etc. To save the challenge, click “ok” once you are finished filling out the form. You can now take the challenge just as you would any other challenge.
      %h3  
        How do I view my progress?
      %p 
        Once you have started taking and completing challenges, you can view your progress by clicking the Progress link in the navigation menu while logged in.
      %h3
        I have forgotten my Password.
      %p
        Click the Login link in the navigation menu and then click the “Forgot Password” link in the Login form. This will take you to a page where you can enter your email address and have a reset password link sent to you. Once you receive this email, click the link in the message to be taken to a page where you can enter a new password.
      