%section#jm-header
  .container
    #jm-header-mods
      .row
        .span3
          #jm-header-mod1
            .header-mod1.count_1
              .row
                .header-mod1-in.span0
                  .header-mod1-bg
                    .jm-module
                      .jm-module-in
                        .jm-module-content.clearfix
                          .custom
                            .jm-rotate-wrap-left
                              %h3.jm-rotate1-left train your
                              %h2.jm-rotate2-left BODY
                              %div{style: "clear: both;"}  
                              %p Demigod encourages you to improve your health, fitness, and nutrition through challenges that help you build healthy habits and create the lifestyle you want.
                              %p{style: "text-align:left; margin-top: 20px; margin-bottom: 20px"}
                                %a.btn.btn-large.btn-left.btn-color{href: new_user_registration_path} SIGN UP
        .span3.pull-right
          #jm-header-mod2
            .header-mod2.count_1
              .row
                .header-mod2-in.span0
                  .header-mod2-bg
                    .jm-module
                      .jm-module-in
                        .jm-module-content.clearfix
                          .custom
                            .jm-rotate-wrap-right
                              %h3.jm-rotate1-right train your
                              %h2.jm-rotate2-right BRAIN
                              %div{style: "clear: both;"}  
                              %p Demigod provides challenges that motivate you to keep your brain active, whether it is reading a book, doing a puzzle, or trying a new language.
                              %p{style: "text-align:right; margin-top: 20px; margin-bottom: 20px"}
                                %a.btn.btn-large.btn-right.btn-color{href: new_user_registration_path} SIGN UP
    .custom
      %p{style: "margin: 0; display: block; margin-left: auto; margin-right: auto; padding: 54px 0 23px;"}
        = image_tag("greek_silhouette_360_465.png")

-# The following block corresponds to a different design for the challenge's categories. Comment out to see it.
  %section#jm-top
    .container
      .top.count_4
        .row
          .top-in.span12
            .top-bg
              .jm-module
                .jm-module-in
                  .jm-module-content.clearfix
                    .custom
                      %h3{style: "font-size: 34px; line-height: 60px;"}
                        build healthy
                        %span.jm-text-color{style: "font-size: 60px;"} habits
        .row
          .top-in.span4
            .top-bg
              .jm-module
                .jm-module-in
                  .jm-module-content.clearfix
                    .custom
                      .dj-image-hover
                        .view.view-third.border_img1
                          %a{href: "#"}
                            =image_tag("physical.png")
                          .mask
                            %h2
                              #main-link 
                                %a{href: "#"} physical
                            %p Improve your strength and endurance.
                            #more-btn
                              %a.btn{href: "#"} more
                      %h3{style: "margin: 10px 0px 0px; text-align: center;"} physical
          .top-in.span4
            .top-bg
              .jm-module
                .jm-module-in
                  .jm-module-content.clearfix
                    .custom
                      .dj-image-hover
                        .view.view-second.border_img1
                          %a{href: "#"}
                            = image_tag("intellectual.png")
                          .mask
                            %h2
                              #main-link
                                %a{href: "#"} intellectual
                            %p Exercise your brain.
                            #more-btn
                              %a.btn{href: "#"} more
                      %h3{style: "margin: 10px 0px 0px; text-align: center;"} intellectual
          .top-in.span4
            .top-bg
              .jm-module
                .jm-module-in
                  .jm-module-content.clearfix
                    .custom
                      .dj-image-hover
                        .view.view-first.border_img1
                          %a{href: "#"}
                            = image_tag("nutritional.png")
                          .mask
                            %h2
                              #main-link
                                %a{href: "#"} nutritional
                            %p Keep your body healthy.
                            #more-btn
                              %a.btn{href: "#"} more
                      %h3{style: "margin: 10px 0px 0px; text-align: center;"} nutritional


-# Description of challenge categories
%section#jm-bottom
  .container
    .bottom.count_4
      .row
        .bottom-in.span12
          .bottom-bg
            .jm-module
              .jm-module-in
                .jm-module-content.clearfix
                  .custom
                    %h3{style: "font-size: 34px; line-height: 60px;"}
                      open your
                      %span.jm-text-color{style: "font-size: 60px;"}
                        mind
      .row
        .bottom-in.span4
          .bottom-bg
            .jm-module
              .jm-module-in
                .jm-module-content.clearfix
                  .custom
                    %p
                      = image_tag("nutritional_icon.png")
                    %h3{style: "text-align: center;"}
                      %a{href: "nutritional"}
                        nutritional
                    %p{style: "text-align: justify;"}
                      Keep your body healthy and follow a better diet thanks to several interesting challenges...
                      #more-btn
                        %a.btn{href: "nutritional"}
                          more
        .bottom-in.span4
          .bottom-bg
            .jm-module
              .jm-module-in
                .jm-module-content.clearfix
                  .custom
                    %p
                      = image_tag("physical_icon.png")
                    %h3{style: "text-align: center;"}
                      %a{href: "physical"}
                        physical
                    %p{style: "text-align: justify;"}
                      Improve your physical strength and endurance and combine both through different exercises...
                      #more-btn
                        %a.btn{href: "physical"}
                          more
        .bottom-in.span4
          .bottom-bg
            .jm-module
              .jm-module-in
                .jm-module-content.clearfix
                  .custom
                    %p
                      = image_tag("intellectual_icon.png")
                    %h3{style: "text-align: center;"}
                      %a{href: "intellectual"}
                        intellectual
                    %p{style: "text-align: justify;"}
                      Exercise your brain by challenging it with a wide range of activities...
                      #more-btn
                        %a.btn{href: "intellectual"}
                          more
