%section#jm-header
  .container
    #jm-header-mods
      .row
        .span3
          #jm-header-mod1
            .header-mod1.count_1
              .row
                .header-mod1-in.span0
                  .header-mod1-bg
                    .jm-module
                      .jm-module-in
                        .jm-module-content.clearfix
                          .custom
                            .jm-rotate-wrap-left
                              %h3.jm-rotate1-left#desc-text nutritional
                              %h2.jm-rotate2-left{style: "font-size: 50px;"} CHALLENGES
%section#info-body
  .container      
    %div{style: "clear: both;"}  
    %p 
      Do you want to improve your diet? Look no further than these nutritional challenges! Eat healthy meals and share your recipes, photos, and videos on your nutrition challenge page along the way.
      It’s time to decide to take this whole ‘life’ thing a little more seriously now so that you don’t have to worry about your health later on.
    %p
      Malnutrition, in every form, presents significant threats to human health. Today the world faces a double burden of malnutrition that includes both undernutrition and overweight, especially in developing countries.
    %p
      Hunger and inadequate nutrition contribute to early deaths for mothers, infants and young children, and impaired physical and brain development in the young. At the same time, growing rates of overweight and obesity worldwide are linked to a rise in chronic diseases such as cancer, cardiovascular disease and diabetes - conditions that are life-threatening and very difficult to treat in places with limited resources and already overburdened health systems.
    %p
      %b Undernutrition:
      %ul
        %li about 104 million children worldwide (2010) are underweight
        %li undernutrition contributes to about one third of all child deaths
        %li stunting (an indicator of chronic undernutrition) hinders the development of 171 million children under age 5 according to 2010 figures
        %li 13 million children are born with low birth weight or prematurely due to maternal undernutrition and other factors
        %li a lack of essential vitamins and minerals in the diet affects immunity and healthy development. More than one third of preschool-age children globally are Vitamin A deficient
        %li maternal undernutrition, common in many developing countries, leads to poor fetal development and higher risk of pregnancy complications
        %li together, maternal and child undernutrition account for more than 10 percent of the global burden of disease
      %br>/
      %b Overweight and obesity:
      %br>/
      %ul
        %li about 1.5 billion people are overweight worldwide, of whom 500 million are obese, in 2008 figures
        %li about 43 million children under age 5 were overweight in 2010
        %li growing rates of maternal overweight are leading to higher risks of pregnancy complications, and heavier birth weight and obesity in children
        %li worldwide, at least 2.6 million people die each year as a result of being overweight or obese
    %p
      The challenge is to remove the less desirable elements from your daily diet and to get a solid understanding of portion awareness and create macro-nutrient ratios most conducive to achieving the goals of improving your health and self-esteem. We want to see how your performance, your health, your general sense of well being, and your body composition reacts to eating what nature intended for you to eat, in the right amounts and in the right proportions. 
    %p
      To some extent, we’ll be following the tenets of our ancestral diet, but we are not going to give this a name, because ‘diets’ have an end point: you are either on a diet or off a diet and that is NOT what Demigod is about. You should not require a strict attachment to a diet. Instead, we encourage you to take challenges that support YOUR health and well-being.
    %p{style: "text-align:left; margin-top: 20px; margin-bottom: 50px"}
      %a.btn.btn-large.btn-left.btn-color{href: new_user_registration_path} Sign up now!