= form_for @history do |f|
  - if @history.errors.any?
    #error_explanation
      %h2= "#{pluralize(@history.errors.count, "error")} prohibited this history from being saved:"
      %ul
        - @history.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user_id
    = f.number_field :user_id
  .field
    = f.label :user_challenge_id
    = f.number_field :user_challenge_id
  .field
    = f.label :progress
    = f.number_field :progress
  .actions
    = f.submit 'Save'
