%h1 Listing histories

%table
  %tr
    %th User
    %th User challenge
    %th Progress
    %th
    %th
    %th

  - @histories.each do |history|
    %tr
      %td= history.user_id
      %td= history.user_challenge_id
      %td= history.progress
      %td= link_to 'Show', history
      %td= link_to 'Edit', edit_history_path(history)
      %td= link_to 'Destroy', history, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New History', new_history_path
