%p#notice= notice

%p
  %b User:
  = @history.user_id
%p
  %b User challenge:
  = @history.user_challenge_id
%p
  %b Progress:
  = @history.progress

= link_to 'Edit', edit_history_path(@history)
\|
= link_to 'Back', histories_path
