<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
    <h3 class="form-header-color">log in</h3>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%- if devise_mapping.registerable? %>
        <%= link_to 'sign up', new_registration_path(resource_name), class: 'right'  %>
      <% end -%>
      <%= f.label :email, "email" %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%- if devise_mapping.recoverable? %>
        <%= link_to "forgot password?", new_password_path(resource_name), class: 'right' %>
      <% end -%>
      <%= f.label :password, "password" %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
      <%= f.submit 'Log in', :class => 'btn btn-primary ok-btn modal-btn right-btn' %>
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <%= f.check_box :remember_me %> <%= f.label :remember_me, "remember me" %>
        </div>
      <% end -%>
  <% end %>
</div>
