- @challenge = Challenge.new
= form_for @challenge, {class: "modal-form"} do |f|
  #newc-modal.modal.modal-wide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog.modal-border
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title create new challenge
        .modal-body       
          - if @challenge.errors.any?
            #error_explanation
              %h2= "#{pluralize(@challenge.errors.count, "error")} prohibited this challenge from being saved:"
              %ul
                - @challenge.errors.full_messages.each do |msg|
                  %li= msg
          .container        
            .row
              .form-horizontal
                .span-6
                  -if display_parent_select?
                    .field
                      = f.label :parent_id, "Parent Challenge".downcase
                      %br
                      = f.select :parent_id, selects_for_parent
                  - if current_user.has_role? :admin
                    = f.hidden_field :user_made, value: "0"
                  - else
                    = f.hidden_field :user_made, value: "1"
                    = f.hidden_field :created_by, value: "#{current_user.id}"
                  .field
                    = f.label :name, "Challenge Name".downcase
                    %br
                    = f.text_field :name, class: 'input-width input-height'
                  .field
                    = f.label :description, "Challenge Description".downcase
                    %br
                    = f.text_area :description, class: 'input-width desc-height'
                  - if current_user.has_role? :admin
                    .field
                      = f.label :points, "Points".downcase
                      %br
                      = f.number_field :points, class: 'input-width input-height'
                  - else    
                    = f.hidden_field :points, value: "20"
                .span-6       
                  .field
                    = f.label :per_week, "Number of times per week this challenge will be checked in".downcase
                    %br
                    = f.number_field :per_week, class: 'input-width input-height'
                  .field
                    = f.label :total_weeks, "Total number of weeks this challenge runs for".downcase
                    %br
                    = f.number_field :total_weeks, class: 'input-width input-height'
                  .field
                    = f.label :statistics, "Select the statistics this challenge will affect".downcase
                    %br
                    = f.select :statistic_ids, Statistic.all.collect{|s| [s.name.downcase, s.id]},{}, {multiple: true, class: "stat-select", id: "statistic_select"}
                    %br
                  .field
                    = f.label :category, "Category".downcase
                    %br
                    = f.select :category, selects_for_category.map!{|c| c.downcase}
        .modal-footer
          .btn-group
            .actions
              .btn
                = f.submit 'Save', class: "btn btn-primary ok-btn modal-btn"
              .btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel


