#newc-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#myModalLabel.modal-title Create New Challenge
      .modal-body
        - @challenge = Challenge.new
        = render 'form'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel

