%section#jm-header{style: "height: 300px; margin-bottom: 150px;"}
  .container
    #jm-header-mods
      .row
        .span-challenge
          #jm-header-mod1
            .header-mod1.count_1
              .row
                .header-mod1-in.span0
                  .header-mod1-bg
                    .jm-module
                      .jm-module-in
                        .jm-module-content.clearfix
                          .custom
                            .jm-rotate-wrap-left
                              %h2.jm-rotate2-left#main-heading CHALLENGES
                              %div{style: "clear: both;"}  
                              %p 
                                Choose a challenge from one of the categories listed below. Or create a new
                                challenge by clicking on the <i>new challenge</i> button below.
                                <br><br>Physical challenges
                                are designed to help you improve your overall physical fitness and endurance.
                                Nutritional challenges will help you improve your diet and health. Intellectual
                                challenges will encourage you to try out activities that will stimulate your
                                brain and improve your mental agility.
                              %p{style: "text-align:left; margin-top: 20px; margin-bottom: 20px"}
                                .btn.btn-large{"data-target" => "#newc-modal", "data-toggle" => "modal"}
                                  New Challenge
    -#.custom
    -#  %p{style: "margin-bottom: 300px; display: block; margin-left: auto; margin-right: auto;"}
        
        
%section#jm-top
  .container
    .top.count_4
      .row
        .top-in.span12
          .top-bg
            .jm-module
              .jm-module-in
                .jm-module-content.clearfix
                  .custom                  
                    - ["Physical", "Nutritional", "Intellectual"].each do |challenge_type|
                      %a{name: challenge_type.downcase}
                        %a#link-color-desc{href: "category/"+challenge_type.downcase}
                          %h2=challenge_type.downcase
                      .challenge-table                      
                        .table-responsive
                          %table.table.table-striped.table-hover
                            %tr
                              %th name
                              %th description
                              %th points
                              - filter_valid_challenges(challenge_type_list(challenge_type, true), current_user).shuffle[0..9].each do |challenge|
                                %tr
                                  %td
                                    %a#link-color{href: "#","data-target" => "#takec-modal", data: {toggle: "modal", href: challenge_path(id: challenge.id)}, class: "takec"}
                                      = challenge.name.truncate(30)
                                    -if current_user.has_role? :admin or challenge.created_by == current_user.id
                                      = link_to edit_challenge_path(challenge) do
                                        %i.glyphicon.glyphicon-edit#glyph-green
                                      = link_to challenge, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                                        %i.glyphicon.glyphicon-remove#glyph-red
                                  %td= challenge.description.truncate(60)
                                  %td= challenge.points
                        = link_to "View All", challenge_type_path(challenge_type), class: "btn btn-small"
                        %br
                        %br

                              
                    
#takec-modal.modal.fade{"aria-hidden" => "true", "aria=labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .takec-content

= render 'form'
            
:javascript
  $(document).ready(function(){
    $(".takec").click(function(){
      $(".takec-content").load($(this).data("href")); 
    }); 
  });
