%section#jm-header
  .container
    #jm-header-mods
      .row
        .span3
          #jm-header-mod1
            .header-mod1.count_1
              .row
                .header-mod1-in.span0
                  .header-mod1-bg
                    .jm-module
                      .jm-module-in
                        .jm-module-content.clearfix
                          .custom
                            .jm-rotate-wrap-left
                              %h3.jm-rotate1-left#desc-text intellectual
                              %h2.jm-rotate2-left{style: "font-size: 50px;"} CHALLENGES

%section#info-body
  .container
    %div{style: "clear: both;"}
      %p
        How would you answer the following question that appeared on a recent university application essay? 
      %p
        #quote Describe a picture and explore what it wants. First, please realize that your answer determines your entrance to a very prestigious university -- the University of Chicago. Does this differ from what was required when you entered university? 
      %p
        Intellectual questions help separate applicants who can thrive in a very demanding academic environment.
        The question requires an applicant to problem solve, make sound choices, fill in perceived gaps, and include both experience and research to creatively and logically convince UC Admissions personnel that he is on target. Not a small task and much different than memorizing facts from books and organizing these into an essay. Here's why...
      %p
        Interestingly, our human brain thrives on solving puzzles and challenges. "...people learn to make subtle perceptual judgements with practice because the brain becomes more efficient in extracting the relevant information for the task," according to University of Toronto researchers.
      %p
        And, you might be surprised that the brain helps us see and interact with objects by filling in missing information. Here's how... Because most of what you and I see is frequently obstructed by other objects, or our eyes focus on certain aspects of a picture or painting, visual information received by the brain is often incomplete.
      %p
        "If you didn't have the brain filling in all of this missing information, every time you looked at an object from a slightly different view, it would be a different object and that would be very confusing and difficult to cope with," says Patrick Bennett, associate professor of psychology at the University of Texas. "This filling in gives some consistency and continuity to the world." Perhaps you're beginning to see the ingenuity of the question posed at UC....
      %p
        The more you and I learn to find solutions to problems or to create and design, the more our brains wire new dendrites for the many nuances involved in these tasks. When new and subtle variations appear, we can make informed decisions based on what we know and our lived experience. Do you see how these skills might separate best candidates to hire as college students enter business and other professions?
      %p
        Top organizations scout for new hires who can innovate, invent and creatively approach top management roles. Many of today's university students are preparing for jobs that do not currently exist, but will in the future. So it stands to reason colleges scout for students who can meet intellectual challenges. How about you...are you up for new challenges where you work?
      %p
        So why take on intellectual challenges? Perhaps it’s better to ask… why not?
      %p{style: "text-align:left; margin-top: 20px; margin-bottom: 50px"}
        %a.btn.btn-large.btn-left.btn-color{href: "/challenges#intellectual"} Choose a Intellectual challenge!