%section#jm-header
  .container
    #jm-header-mods
      .row
        .span3
          #jm-header-mod1
            .header-mod1.count_1
              .row
                .header-mod1-in.span0
                  .header-mod1-bg
                    .jm-module
                      .jm-module-in
                        .jm-module-content.clearfix
                          .custom
                            .jm-rotate-wrap-left
                              %h3.jm-rotate1-left#desc-text physical
                              %h2.jm-rotate2-left{style: "font-size: 50px;"} CHALLENGES
%section#info-body
  .container
    %div{style: "clear: both;"}
      %p
        Exercise can be an important part of coping with a chronic disease or recovering from an injury. Exercise can increase longevity and quality of life; improve energy, strength, balance and coordination; and act as a potent pain reliever and antidepressant. But many people don't know what exercise guidelines to follow for optimal health and management of their disease or disorder.
      %p
        Sticking to a regular exercise schedule isn't easy. After all, there are plenty of potential hindrances — time, boredom, injuries, self-confidence. But these issues don't need to stand in your way. Consider practical strategies for overcoming common barriers to fitness.
      %p
        People who exercise regularly will tell you they feel better. Some will say it’s because chemicals called neurotransmitters, which are produced in the brain, are stimulated during exercise. Since it’s believed that neurotransmitters mediate people’s moods and emotions, they can make you feel better and less stressed.
      %p
        While there’s no scientific evidence to conclusively support the neurotransmitter theory, there is plenty to show that exercise provides stress-relieving benefits.
      %p
        Beginning your post-rehab personal fitness program at home is a great idea for convenience, privacy, and affordability. Set up your home exercise space with safety in mind. Clear your floor of slipping and tripping hazards and make sure you have a stable surface to sit, stand or lie on and something to hold onto for balance.
      %p
        You may wish to exercise at a local gym or recreation center, especially if you already belong to one. If your home exercise plan calls for using exercise equipment or machines, working out at a gym is a convenient way to go.
      %p
        Demigod provides a wide variety of workouts, including exercises that you will be able to do at home, at the gym, or even outdoors. Select the challenges depending on your leasure time and your preferences. There are many challenges to choose from and you can also create new custom challenges to suit your needs.
     
      %p{style: "text-align:left; margin-top: 20px; margin-bottom: 50px"}
        %a.btn.btn-large.btn-left.btn-color{href: "/challenges#physical"} Choose a Physical challenge!