.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}×
  
  %span
    %h4.modal-title
      = "details for the challenge " 
      %span.modal-title{style: "color: #7ab317; font-size: 20px;"}
        = @challenge.name
.modal-body
  - if @challenge.parent_id
    %p
      %b Parent:
      = get_name_by_id(@challenge.parent_id)
  - if @challenge.user_made?
    %p
      %b This challenge was made by another user!
  %h4="Description of the challenge"
  %pre
    = @challenge.description
  %h4
    By completing this challenge your points will go towards the following stats: 
  - @challenge.statistic_ids.each do |stat|
    .stat-style 
      = Statistic.find(stat).name.downcase
  %h4#spacing
    ="This challenge lasts for #{@challenge.total_weeks} weeks and requires #{@challenge.per_week} checkins per week."
  - unless valid_check(current_user, @challenge)
    %p
      %b Prerequisites not met. Complete parent challenge first.
.modal-footer
  %h1{style: "color: white; margin-top: 15px; float: left;font-size:80px;"}
    =@challenge.points.to_s
  %p{style: "float:left;margin-top:28px;color:white;"}
    Points 
  - if completed_check(current_user, @challenge)
    = link_to "Already Completed", "#", class: "btn btn-primary modal-btn disabled"
  - elsif UserChallenge.where(user_id: current_user, finished: false).present?
    = link_to "Already on a challenge!", "#", class: "btn btn-primary modal-btn disabled"
  - elsif valid_check(current_user, @challenge)
    = link_to "Take this Challenge", take_challenge_path(@challenge), class: "btn btn-primary modal-btn"
  - else
    = link_to "View Parent Challenge", challenge_path(id: @challenge.parent_id), "data-toggle" => "modal", "data-target" => "#takec-modal", class: "btn btn-primary modal-btn", id: "parent-challenge-button"
  %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
  
:javascript
  $(document).ready(function(){
    $('.takec-modal').on('hide.bs.modal', function () {
      $('.takec-modal').removeData();
    });
  });