%br/
.jm-rotate-wrap-left
  %h2.jm-rotate2-left{style: "font-size: 50px;"} CONTACT US
  %br/
  %br/
  %div{style: "clear: both;"}
  %br>/
  Please fill out this form and submit any comment or question you may have. We will make every effort to respond to your inquiries as soon as possible. 
  %br>/ 
  Thank you for contacting Demigod.
  %br/
  %br>/
= form_for @message, :url => contact_path do |form|
  %fieldset.fields
    .field
      .jm-rotate-wrap-left
        %h3.jm-rotate1-left#desc-text name
      -#= form.label :name
      %br/
      %br/
   
    = form.text_field :name, class: "float-left-input"
    %br/  
    %br/      
    .field
      .jm-rotate-wrap-left
        %h3.jm-rotate1-left#desc-text email
      -#= form.label :email
      %br/
      %br/
      
    = form.text_field :email, class: "float-left-input"
    %br/ 
    %br/         
    .field
      .jm-rotate-wrap-left
        %h3.jm-rotate1-left#desc-text subject       
      -#= form.label :subject
      %br/
      %br/
    
    = form.text_field :subject, class: "float-left-input"
    %br/ 
    %br/       
    .field
      .jm-rotate-wrap-left
        %h3.jm-rotate1-left#desc-text your message
      -#= form.label :body
      %br/
      %br/      
    = form.text_area :body, cols: "60", rows: "7", class: "float-left-input"
    %br/
    %br/
    %actions.btn.btn-large.btn-left.btn-color
    = form.submit 'Send', :class => 'btn btn-primary submit float-left-input'