// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.challenge-table{
  //float: left;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  width: 89%;
  max-width: 89%;
  color: #242424;
}

.span-challenge{
  width: 50%;
}

#medium-heading{
  font-size: 50px;
}

#main-heading{
  font-size: 60px;
}

.span-table{
  width: 100%;
}

#link-color{
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

#link-color:hover{
  color: #000;
  font-weight: bold;
  font-size: 16px;
}

#link-color-desc{
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

#link-color-desc:hover{
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

#glyph-green{
  color: #7ab317;
}

#glyph-red{
  color: #b70101;
}

//Set the background and text color for the table.
.table-striped.table-hover > tbody > tr:nth-child(odd) > td{
   background-color: #242424;
   color: #fff;
}

.table-striped.table-hover > tbody > tr:nth-child(even) > td{
   background-color: #242424;
   color: #fff;
}

//Set the hover color for the table.
.table-striped.table-hover > tbody > tr:nth-child(odd):hover > td{
   background-color: #d8eec4;
   color: #000;
}

.table-striped.table-hover > tbody > tr:nth-child(even):hover > td{
   background-color: #d8eec4;
   color: #000;
}

.table-striped.table-hover > tbody > tr:nth-child(odd):hover > td > a#link-color{
   background-color: #d8eec4;
   color: #000;
}

.table-striped.table-hover > tbody > tr:nth-child(even):hover > td > a#link-color{
   background-color: #d8eec4;
   color: #000;
}

//For the show challenge modal
#spacing{
  margin-top: 10px;
}

.stat-style{
  font-weight: bold;
  color: #7ab317;
}


//For the new challenge modal
.field{
  color: #242424;
  font-size: 14px;
  margin-bottom: 10px;
}

label{
  margin-bottom: 0px !important;
}

select {
  font-family: inherit;
  font-size: 16px !important;
  line-height: 1.2em !important;
}

//For the new challenge modal
.input-width{
  width: 250px !important;
}

.input-height{
  height: 30px !important;
}

.desc-height{
  height: 55px !important;
}

.stat-select{
  width: 250px !important;
  height: 55px !important;
}

//Make the modal wider
.modal.modal-wide .modal-dialog {
  width: 62%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

//For pre tag formatting
pre {
 white-space: nowrap;
 overflow-x: auto;
}

@media (max-width: 767px){
  .modal.modal-wide .modal-dialog {
    width: 95%;
  }
  .modal-wide .modal-body {
    overflow-y: auto;
  }

}
