// Place all the styles related to the contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.float-left-input{
  clear:both;
  margin-bottom: 40px;
  float:left;
}
