#curr-challenge-bar{
  width: 0%; 
  display: block;
}

.centeredborder{
  width: 90%; 
  background: #242424;
  margin-left: auto; 
  margin-right: auto; 
  border:5px solid; 
  border-radius:25px;
  border-color: #7ab317;
  margin-bottom: 10px;
  //margin-left: 30px;
}

.centeredinset{
  width: 75%; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 10px;
}

.btn-checkin{
  background-color: #7ab317;
  color: #ffffff;
}

.btn-checkin:hover{
  background-color: #7ab317;
  color: #242424;
}

.btn-fail{
  background-color: #b70101;
  color: #fff;
}

.btn-fail:hover{
  background-color: #b70101;
  color: #242424;
}

#sm-text{
  color: #fff; 
  font-size: 25px; 
  line-height: 50px;
}

#lg-text{
  font-size: 30px;
}

#facebook-btn{
  padding-left: 4px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 7px;
}

.facebook-share{
  background-color: #2d4485;
  color: #fff;
}

.btn.facebook-share:hover{
  color: #242424;
}
