// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
  
html, body{
  height: 100%;
}
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
}

.container{
  margin-right: auto;
  margin-left: auto;
  
}

.container .row{
  margin-top: 10px;
}


.btn.btn-default{
  color: #000000;
}

//For the logo display
.navbar .brand { 
  display: block;
  float: left;
  margin-right: 20px;
  
  //size of the image
  width:218px;
  height:122px;
  background:url("logo_shield_trans.png") no-repeat center left;
  background-color: transparent;
}

#top-spacing{
  margin-top: 15px;
}

//Override for the hover color of the 'Home' nav link.
.navbar-default .navbar-brand:hover,
.navbar-default .pull-right:hover
{
  color: #b70101;
}
  
.navbar-default
{
  background-image: url('two_tone_trans.png');
  background-color: transparent;
  background-repeat: repeat;
  border: none;
}  


.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .pull-right > li > a,
{
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .pull-right > li > a:hover
{
  color: #b70101; //red
}

.dropdown .dropdown-toggle {
  background-color: #000000;
  color: #ffffff;
}

.dropdown-menu{
  background-color: #000000;
  color: #ffffff;
}

.dropdown-menu > li,
.dropdown-menu > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus
{
  color: #b70101; //red
  background-color: #000000;
}

.dropdown.active.open > a, 
.dropdown.active.open > ul.dropdown-menu a:hover,
.dropdown.open > a, 
.dropdown.open > ul.dropdown-menu a:hover
{
  color: #b70101; //red
  background-color: #000000;
}

//Prevents the user-name dropdown from showing
//up as grey text when the user clicks on it
//to close the drop-down. 
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #000000;
}

@media (max-width: 767px){
   .navbar-collapse{
     background-image: none;
     background-color: #000000;
   } 

}


// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #ffffff;
  #padding-bottom: 80px;
  width: 100%;
  margin-top: 123px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

// Styles for Devise views
// using Bootstrap
// generated by the rails_layout gem
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
  
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
  background-color: #242424;
  color: #7ab317;
  padding-bottom: 50px;
}
.authform .right {
  color: #7ab317;
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}

.form-control:focus{
  outline:none;
  border-color: #7ab317;
  box-shadow:0 0 10px #7ab317;;
}

.right-btn{
  float: right !important;
}

.right-btn:focus{
  outline: none;
  border: none;
  border-color: none;
  box-shadow: none;
}

.submit{
  background-color: #7ab317;
  color: #fff;
}

.submit:hover{
  background-color: #7ab317;
  color: #242424;
}

.form-header-color{
  color: #7ab317;
}


