//CSS for the modal design.

.modal-dialog,
.modal-dialog.modal-sm,
.modal-dialog.modal-med{
  border: 4px solid; 
  border-radius: 2px;
  border-color: #7ab317;
}

.modal-header{
  background-color: #242424;
  color: #ffffff;
}

.modal-title{
  color: #ffffff;
}

.modal-footer{
  background-color: #242424;
}

.modal-btn{
  background-color: #7ab317;
  color: #fff;
}

.modal-btn:hover{
  background-color: #7ab317;
  color: #242424;
}

.control-label-color{
  color: #242424;
}
