// Place all the styles related to the statistics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stat-display{
  border: 2px solid;
  border-radius:15px;
  border-color: #7ab317;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  width: 300px;
  height: 80px;
  margin-left: auto; 
  margin-right: auto;
  display: block;
  margin-bottom: 10px;

}

.stat-icon{
  margin-top: 10px;
  margin-right: 15px;
  float: left;
}

.prog-bar-style{
  background-color: #242424;
  font-size: 10px;
  line-height: 15px;
  color: #ffffff;
  font-weight: bold;
}

.stat-inset{
  width: 100%; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 17px;
}

.badge-style{
  margin-top: 5px; 
  background-color: #b70101;
  font-size: 16px;
}

.middle {
  //text-align: center;
  vertical-align: middle;
}
