article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}

body {
  color: #686662;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body {
  line-height: 1.9em;
}


#jm-header .container, #jm-header .container-fluid {
  position: relative;
}

#jm-header-mods {
  position: absolute;
  top: 0;
  width: 100%;
}

.container:before, .container:after {
  display: table;
  content: "";
  line-height: 0;
}

.row {
  margin-left: -20px;
}

.row:before, .row:after {
  display: table;
  content: "";
  line-height: 0;
}

.span3 {
  width: 270px;
}

//Determines the width of the Train your Body and Train your Brain text.
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 30px;
  margin-right: 50px;
}

.span0 {
  float: none;
}

.jm-module {
  margin-bottom: 10px;
  width: 100%;
}

.jm-rotate1-left, .jm-rotate1-right {
  padding: 2px 10px;
  font-size: 22px;
}

.jm-rotate1-left, .jm-rotate2-left {
  float: left;
}
.jm-rotate1-left, .jm-rotate2-left, .jm-rotate1-right, .jm-rotate2-right {
  clear: both;
  position: relative;
  z-index: 1;
  color: #e9e9e9;
}

h1, h2, h3 {
  line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  text-rendering: optimizelegibility;
}

h3 {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h2 {
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

//Rotate the Train text
.jm-rotate1-left:before, .jm-rotate2-left:before {
  background: #773131; //dark, grey-red
}

#desc-text.jm-rotate1-left:before, #desc-text.jm-rotate2-left:before{
  background-color: #242424;
}

.jm-rotate1-left:before {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
}

.jm-rotate1-left:before, .jm-rotate2-left:before, .jm-rotate1-right:before, .jm-rotate2-right:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

//General button css
.btn {
  color: #fff;
  font-weight: bold;
  text-transform: lowercase;
  border: none;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  text-shadow: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);  
}

//For the right hand Train your brain text
.jm-rotate2-right {
  padding: 20px 15px 15px;
  font-size: 70px;
  margin: -10px 10px 0 0;
}
.jm-rotate1-right, .jm-rotate2-right {
  float: right;
}

.jm-rotate-wrap-right {
  text-align: right;
}

//Rotate the Body and Brain text
.jm-rotate2-left {
  padding: 20px 15px 15px;
  font-size: 70px;
  margin: -10px 0 0 10px;
}
.jm-rotate1-left, .jm-rotate2-left {
  float: left;
}
.jm-rotate1-left, .jm-rotate2-left, .jm-rotate1-right, .jm-rotate2-right {
  clear: both;
  position: relative;
  z-index: 1;
  color: #e9e9e9;
}

.jm-rotate1-right:before, .jm-rotate2-right:before {
  background: #242424; //dark-grey
}

.jm-rotate2-right:before {
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
}
.jm-rotate1-left:before, .jm-rotate2-left:before, .jm-rotate1-right:before, .jm-rotate2-right:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#jm-header-mods .btn {
  margin-top: 15px;
}


.btn-large.btn-left {
  //background-image: url("../images/btn_left.png");
  font-size: 34px;
  line-height: 50px;
  padding: 0 15px 0 15px;
  background-color: #7ab317;
}

.btn-large.btn-right {
  font-size: 34px;
  line-height: 50px;
  padding: 0 15px 0 15px;
  background-color: #7ab317;
}

.btn-large{
  font-size: 30px;
  line-height: 50px;
  background-color: #7ab317;
}

.btn-center{
  background-position: center;
  padding: 0 30px;
}

.btn-medium{
  font-size: 40px;
  line-height: 60px;
  background-color: #7ab317;
}

.btn-small{
  font-size: 20px;
  line-height: 30px;
  background-color: #7ab317;
}

//For the challenges category display stuff
#jm-top {
  padding-top: 20px;
  border-bottom: 10px solid #454543;
  background: #242424;
  color: #fff;
  margin-bottom: 30px;
} 

//For the main challenges category information section of the page.
.span12 {
  width: 1170px;
}


.jm-text-color {
  color: #7ab317; //green
}

element.style {
  font-size: 34px;
  line-height: 60px;
}
#jm-top h1, #jm-top h2, #jm-top h3, #jm-top h4, #jm-top h5, #jm-top h6, #jm-footer h1, #jm-footer h2, #jm-footer h3, #jm-footer h4, #jm-footer h5, #jm-footer h6 {
  color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: #4f4c47;
}

.span4 {
  width: 310px;
}

//For changes when the user hovers over a challenge category image
.dj-image-hover {
  color:#686662;
}
.dj-image-hover {
  display: inline-block;
  width: 100%;
  text-align: center;
}

#main-link a{
  color: #7ab317;
}
#main-link a:hover {
  color: #7ab317;
}

.view {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  max-width: 100%;
}

.border_img1 {
  background: #e9e9e9;
  padding: 5px;
}

.view img {
  display: block;
  position: relative;
}

.view .mask, .view .content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.view h2 {
  text-align: center;
  position: relative;
  padding: 5px 10px !important;
  background: rgba(255,255,255,0.7);
  margin: 10px 0 0 0 !important;
}

.view p {
  position: relative;
  padding: 10px;
  text-align: center;
  margin: 0;
}

#more-btn .btn {
  background-color: #7ab317;
  border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
}
#more-btn .btn {
  padding: 0 15px;
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  font-weight: bold;
  text-transform: lowercase;
  border: none;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  text-shadow: none;
  background-image: none;
  filter: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#more-btn .btn:hover {
  background-color: #4f4c47;
  color: #fff;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

#jm-footer {
  background: #4f4c47;
  color: #fff;
  padding-top: 0px;
  margin-top: 50px;
  height: 84px;
}

#row-footer{
  margin-top: 20px;
}

#copyright-font{
  font-size: 12px;
}

#jm-copyrights {
  color: #b2b0ae;
  font-size: 1.3em;
  line-height: 0.7em;
}

#jm-poweredby-styleswitcher {
  padding-bottom: 30px;
  padding-right: 50px;
  color: #b2b0ae;
  font-size: 1.3em;
  line-height: 1.9em;
}

#jm-poweredby a {
  color: #b2b0ae;
}

//CSS for the wrapper container that forces the footer to
//"stick" to the bottom of a page.
.wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -84px;
}

.push{
  height: 84px;
}

#footer-color{
  background-color: #4f4c47;
}

//CSS for the Intellectual, Physical, and Nutritional description pages.
#quote{
  padding-left: 5em;
  font-style: italic;
}

.sign-up{
  color: #242424;
}

#info-body{
  float:bottom;
  margin-top:20%;
}

//Responsive CSS for when the page is very narrow (such as on a phone).
@media (max-width: 767px){
  #jm-header-mods {
    position: static;
  }
  
  .jm-module-in {
    height: auto !important;
  }
  
  .span12, .row-fluid .span12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .jm-module {
    margin-bottom: 20px;
  }
  .row, .thumbnails {
    margin-left: 0;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .span4 {
    width: 250px;
  }
  
  .btn-medium.btn-center {
    font-size: 20px;
    line-height: 40px;
    background-position: center;
    padding: 0 10px;
    background-color: #7ab317;
  }
  
}