-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .brand
      = link_to '', root_path, class: 'brand' 
    .navbar-header#top-spacing
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse
      %ul.nav.navbar-nav#top-spacing
        = render 'layouts/navigation_links'
      -if user_signed_in?
        %ul.nav.navbar-nav.pull-right#top-spacing  
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              #{current_user.name.downcase}
              %b.caret
            %ul.dropdown-menu
              %li
                = link_to 'edit account', edit_user_registration_path
              %li.divider
              %li
                = link_to 'my challenges', my_challenges_path
              %li.divider
              %li
                = link_to 'completed challenges', completed_challenges_path
              %li.divider
              %li  
                = link_to 'logout', destroy_user_session_path, :method=>'delete'  
