/ add navigation links to this file
- if user_signed_in? 
  %li= link_to 'home', user_path(current_user)
  %li= link_to 'challenges', challenges_path
  %li= link_to 'progress', progress_path(current_user)
  %li= link_to 'faq', faq_path
  %li= link_to 'contact', contact_path
  - if current_user.has_role? :admin
    %li= link_to "administrator controls", admin_path 
- else
  %li= link_to 'home', root_path
  %li= link_to 'login', new_user_session_path
  %li= link_to 'sign up', new_user_registration_path
  %li= link_to 'sign in with facebook', user_omniauth_authorize_path(:facebook)
  %li= link_to 'contact', contact_path
