!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Demigod'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Demigod'}"}
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container.wrapper
      %header
        = render 'layouts/navigation'
      %main{:role => "main"}
        = render 'layouts/messages'
        = yield
      %div.push
         
    -# Footer section
    %footer#jm-footer
      .container#footer-color
        .row
          .span6
            #jm-copyrights
              .copyrights.count_1
                .row#row-footer
                  .copyrights-in.span0
                    .copyrights-bg
                      .jm-module
                        .jm-module-in
                          .jm-module-content.clearfix
                            .custom
                              %p
                                copyright #{Time.now.year} 
                              %p#copyright-font  
                                all rights reserved
          .span6.pull-right
            #jm-poweredby-styleswitcher.pull-right
              #jm-poweredby{style: "margin-top: 10px"}
                %a{href: "http://www.demigod.me", onfocus: "blur()", target: "_blank", title: "Demigod"}
                  demigod.me
    
